/* Casebook Cover Page */

.cover-image {
	background-color: #cccccc;
	height: 100%;
	width: 100%;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	overflow: hidden;
}

.cover-block {
	width: 100%;
	text-align: center;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	color: white;
}

.cover a {
    color: $medium-grey;
    text-decoration: none;
    &:hover {
		color:darken($medium-grey, 20%);
    }
}

.cover ul, ol {
	width: 90%;
	margin-left: auto;
	margin-right: auto;
}


.cover h1 {
    font-size: $huge-size;
    line-height: 1;
    font-weight: $bold-weight !important;
    color: white;
    margin: 0 0 0 0;
    text-shadow: 2px 2px 3px rgba(0, 0, 0, 1);
}

.cover h1 + h2 {
    margin-top: 3rem;
}

.cover h2 {
    line-height: $line-height;
    color: white;
    font-weight: $bold-weight !important;
    margin: 1rem 0 0 0;
    text-shadow: 2px 2px 3px rgba(0, 0, 0, 1);
}

.cover h3 {
    line-height: $line-height;
    color: white;
    font-weight: $bold-weight !important;
    margin: 0 0 0 0;
    text-shadow: 2px 2px 3px rgba(0, 0, 0, 1);
}

.cover h4 {
    font-weight: $bold-weight !important;
	font-style: normal;
    color: white;
    line-height: $line-height;
    margin: 3rem 0 0 0;
    text-shadow: 2px 2px 3px rgba(0, 0, 0, 1);
}

.toc-button {
	padding-top: 2rem;
	padding-bottom: 2px;
}

.casebook-preface-quotes {
	font-size: $small-size
}


/* Casebook Chapter Pages */


.casebook-container {
    padding: 100px 0; /* VERTICAL PADDING FOR TITLE ON EVERY.casebook */
}

.center-screen {
    position: relative;
    margin-left: auto;
    margin-right: auto;
}

.casebook-header {
	margin-bottom: 3rem;
}

.casebook-header h1 {
	    color: $theme-color;
	    font-family: $heading-font; 
	    font-size: 1.5rem;
	    line-height: $line-height;
	    font-weight: $medium-weight;
	    font-style: normal;
		margin-top: 0;
		margin-bottom: 0;
}

.casebook-header h2 {
    color: $theme-color;
    font-family: $heading-font; 
    font-size: 2.25rem;
    line-height: $line-height;
    font-weight: $normal-weight;
    font-style: normal;
    line-height: 1;
	margin-top: 1rem;
	margin-bottom: 0;
}

.casebook h1 {
	font-size: 2rem;
}

.casebook h2 {
	font-size: 1.5rem;
	font-style: italic;
	border-top: 3px solid $dull-red;
	border-left: 3px solid $dull-red;
	padding-top: 15px;
	padding-left: 15px;
	margin-top: 5rem;
}

.casebook h3 {
	font-size: 1.125rem;
	font-style: italic;
}

.casebook h4 {
	font-size: 1rem;
}

.casebook h5 {
	font-size: 1.5rem;
}

.casebook h6 {
	font-family: $sans-font;
	font-size: 1.5rem;
}


.casebook blockquote { 
	font-size: $small-size; 
	font-weight: $normal-weight;
	display: block; 
	border-left: 4px solid #b03a2e; 
	padding: 0 0 0 1rem; 
	margin-top: 2rem; 
	margin-bottom: 2rem; 
	margin-left: 1rem; 
	margin-right: 0; 
	position: relative; 
}

.casebook blockquote blockquote { 
	border: none; 
	margin-top: .5rem; 
	margin-bottom: .5rem; 
	margin-left: .5rem; 
}

.casebook blockquote p { 
	font-size: $medium-size; 
	font-weight: $normal-weight;
	font-style: italic; 
	margin-top: .5rem; 
	margin-bottom: .8rem; 
	max-width: 35rem; 
	line-height: $line-height; 
}


.illustration {
    padding-top: 2rem;
    padding-top: 2rem;
    height: auto;
    width: 100%;
}

.center{
    text-align: center;
}

/* Casebook Primary Legal Authorities (Cases, Statutes, MRPC, Restatement) */

.statute {
	background-color: $light-grey;
	padding: 20px;
}

.statute p {
	font-family: $body-font;
	font-weight: $light-weight;
}

.statute h1 {
	font-family: $sans-font;
}

.statute h2, h3, h4, h5, h6 {
	font-family: $serif-font;
}

.statute h3, h4, h5 { 
	margin-bottom: 1rem; 
}

.statute h1 { 
	font-size: 1.5rem; 
	margin-top: 4rem; 
}

.statute h2 {  
	font-size: 1.25rem; 
	margin-top: 3rem; 
}

.statute h3 {  
	font-size: 1.125rem; 
}

/* heading for comments */
.statute h4 {  
	font-size: 0.8rem; 
	font-style: italic;
	font-weight: $normal-weight;
}

/* body of comments */
.statute h5 {
	font-family: $sans-font;
	font-size: $smaller-size; 
	font-weight: $light-weight;
	margin-top: 0.5rem;
	margin-bottom: 0.5rem;
}

/* body of illustrations */
.statute h6 {  
	font-family: $sans-font;
	font-size: $smaller-size;
	font-weight: $light-weight;
	margin-top: 0.5rem;
	margin-bottom: 0.5rem;
	margin-left: 1rem;
}

.statute blockquote { 
    font-size: 1rem;
	font-weight: $light-weight;
	font-style: normal;
	line-height: $line-height;
	border: none; 
    margin-left: 1.5rem;
	margin-top: 1rem; 
	margin-bottom: 1rem; 
	padding: 0;
}

.statute blockquote p {
    font-size: 1rem;
	line-height: $line-height;
	font-style: normal;
	margin-top: 1rem; 
	margin-bottom: 1rem; 
    padding: 0;
	max-width: 50rem;
}


.case {
	background-color: $light-grey;
	padding: 20px;
}

.case p {
	font-weight: $light-weight;
}

.case h1 {
	font-family: $sans-font;
}

.case h1, h2, h3, h4, h5 {
	font-family: $serif-font;
}

.case h3, h4, h5 {
	margin-bottom: 1rem;
}

.case h1 {
	font-size: 1.5rem;
    margin-top: 2rem;
}

.case h2 {
	font-size: 1.25rem;
	font-style: normal;
}

.case h3 {
	font-size: 1.25rem;
	font-weight: normal;
	font-style: italic;
}

.case h4 {
	font-size: $h5;
	font-weight: bold;
	font-style: normal;
}

.case blockquote {
    border: none;
}

.case blockquote, 
blockquote p {
    font-style: normal;
    margin-top: 0;
    margin-bottom: 0.5rem;
	margin-left: 1rem;
	line-height: 1.5;
	margin-right: .5rem;
    padding: 0;
}

.case-footer {
	border-top: 1px solid $dark-grey;
	margin-top: 2rem;
    margin-bottom: 0rem;
	font-family: $sans-font;
	font-size: $small-size;
	font-weight: $light-weight;
	font-style: normal;
}

.case-footer p {
	font-family: $sans-font;
	border: none;
	font-size: $smaller-size;
	font-weight: $light-weight;
	font-style: normal;
	margin-top: 0;
	margin-bottom: 0;
}

.case-footer h1 {
	font-family: $sans-font;
	border: none;
	font-size: $smaller-size;
	font-weight: $normal-weight;
	font-style: normal;
	margin-top: 1rem; 
	margin-bottom: .5rem;
}


/* Casebook Tufte Style */

.sidenote, .marginnote { 
	float: right;
	clear: right;
	margin-right: -40%;
	width: 35%;
	margin-top: 0;
	margin-bottom: 0.5rem;
}

.sidenote { 
	font-family: $sidenotes-font;
	font-size: $smallest-size;
	font-weight: $light-weight;
	line-height: 1.2; 
	vertical-align: baseline;
	position: relative; 
}

.marginnote { 
	font-family: $marginnotes-font;
	font-size: $smallest-size;
	font-weight: $light-weight;
	line-height: 1.2; 
	vertical-align: baseline;
	position: relative; 
}

li .sidenote, li .marginnote{
	margin-right: -80%; 
} // allows for list indents in marginnotes and sidenotes

blockquote .sidenote, blockquote .marginnote {
	margin-right: -79% 
}

.sidenote-number {
	counter-increment: sidenote-counter; 
}

.sidenote-number:after, .sidenote:before { 
	content: counter(sidenote-counter) " ";
	font-family: $body-font;
	color: $contrast-color;
	position: relative;
	vertical-align: baseline; 
}

.sidenote-number:after { 
	content: '['counter(sidenote-counter)']' ;
	font-weight: $normal-weight;
	top: -0.3rem;
	left: 0.1rem; 
}

.sidenote:before {
	content: counter(sidenote-counter) ".\000a0"; // non-breaking space
	color: $contrast-color;
	top: 0rem; 
} 

.marginnote code, .sidenote code { 
	font-size: 1rem; 
}

label.sidenote-number { 
	display: inline; 
	font-size: $smallest-size; 
}

label.margin-toggle:not(.sidenote-number) { 
	display: none; 
}

.full-width { 
	.sidenote, .sidenote-number, .marginnote {
		display: none; 
	} 
}

input.margin-toggle { 
	display: none; 
}



@media (max-width: 760px) { 
	label.margin-toggle:not(.sidenote-number) { 
		display: inline; color: $contrast-color; 
	}
	.sidenote, .marginnote { display: none; }
	.margin-toggle:checked + .sidenote, .margin-toggle:checked + .marginnote {
		display: block;
		float: left;
		left: 1rem;
		clear: both;
		width: 95%;
		margin: 1rem 2.5%;
		vertical-align: baseline;
		position: relative; 
	}
	label { 
		cursor: pointer; 
	}
	pre, pre code, p code, p pre code { 
		width: 90%;
		padding: 0; 
	}
	table-caption { 
		display: block;		
		float: right;
		clear: both;
		width: 98%;
		margin-top: 1rem;
		margin-bottom: 0.5rem;
		margin-left: 1%;
		margin-right: 1%;
		vertical-align: baseline;
		position: relative; 
	}
	div.table-wrapper, table, table.booktabs { 
		width: 85%; 
	}
	div.table-wrapper { 
		border-right: 1px solid #efefef; 
	}
	img { 
		max-width: 100%; 
	} 
	figcaption.maincolumn-figure, figure.fullwidth figcaption { 
		float:none; text-align: center;
	}
	figure.fullwidth figcaption { 
		margin-left: 0; 
	}
}


span.newthought {
	font-variant: small-caps;
	font-size: 1.2em;
	letter-spacing: 0.05rem; 
}


div.epigraph { margin: 3.5636rem 0; }

div.epigraph > blockquote { margin-top: 3rem; margin-bottom: 3rem; }

div.epigraph > blockquote, div.epigraph > blockquote > p { font-style: italic; }

div.epigraph > blockquote > footer { font-style: normal; width: 45%; padding-left: 2.5%; padding-right: 2.5%; padding-top: 0; margin-top: 0.4455rem; margin-bottom: 3.1182rem; }

div.epigraph > blockquote > footer > cite { font-style: italic; }

