<!DOCTYPE html>
<html>
{% include head.html %}

<body class="fullwidth">
	<div class="cover-image" style="background-image: url('{{ site.baseurl}}/assets/casebook/casebook.png');">
		{% include header.html %}
		<div class="page-container">
			<div class="cover">

			<div class="cover-block">
				{{ content }}

			<div class="toc-button">
			<a href="{{ site.baseurl}}/Casebook/Contents/"><button class="button casebook-cover primary">Contents</button></a>
			</div>
			</div>
			{% include footer.html %}
			{% include hemline.html %}
		</div>
	</div>
</div>
</body>

</html>